<h3>Update Department</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Department Name</label>
      <input type="text" class="form-control" id="deptName" required [(ngModel)]="department.deptName" name="deptName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="deptLocation" required [(ngModel)]="department.deptLocation" name="deptLocation">
    </div>

   

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>